
/* ===== BANNER SECTION ===== */

.banner {
  padding: 170px 0 100px;
  background-color: #e3e8eb;

  & a {
    &:first-child {
      .banner__arrow {
        padding-left: 25px;
      }
    }
    &:last-child {
      .banner__arrow {
        padding-right: 25px;
      }
    }
  }
  &__arrow {
    font-size: 30px;
    color: #212331;
  }

  &__title {
    width: 100%;
    color: $nav-text-color;

    & h2 {
      font-size: 78px;
      letter-spacing: 5px;
      font-weight: map-get($font-weight, light);

      & > span {
        font-weight: map-get($font-weight, bold);
      }
    }

    &-text {
      font-size: 30px;
      padding: 25px 0 60px;
      font-weight: map-get($font-weight, light);
    }

    &-btn {
      border-radius: 3px;
      padding: 15px 32px;
      color: $white-color;
      background-color: $primary-color;

      .banner__diamond-icon {
        font-size: 17px;
        padding-right: 15px;
      }

      & > p {
        font-size: 17px;
        letter-spacing: 2px;
        font-weight: map-get($font-weight, bold);
      }
    }
  }
}