
/* ===== PRICING TABLE SECTION ===== */
.pricing {
  padding: 125px 0 0;

  &__title {
    font-size: 50px;
    padding-bottom: 70px;
    text-align: center;
    color: $nav-text-color;

    & > span {
      font-weight: map-get($font-weight, light);
    }
  }

  &__text {
    text-align: center;
    line-height: 25px;
    color: $text-color;
  }

  &__card {
    @include flexWrap;
    margin-top: 130px;

    &--items {
      flex: 25%;
      height: 672px;
      text-align: center;
      margin-bottom: 150px;
      background-color: $bg-choose-color;

      &:nth-child(1) {
        & > .pricing__card--items-per {
          background-color: map-get($color-counter, one);
        }
        & > .pricing__card--items-title {
          border-right: none;
        }
        & > .pricing__card--items-desc {
          border-right: none;
        }
      }

      &:nth-child(2) {
        & > .pricing__card--items-per {
          background-color: map-get($color-counter, two);
        }
        & > .pricing__card--items-title {
          border-right: none;
        }
        & > .pricing__card--items-desc {
          border-right: none;
        }
      }

      &:nth-child(3) {
        transform: translateY(-23px);
        background-color: $white-color;

        & > .pricing__card--items-title {
          height: 113px;
          position: relative;
          color: $nav-text-color;

          &::before {
            @include flexCenter;
            content: "NEW";
            z-index: 1;
            width: 50px;
            height: 50px;
            font-size: 12px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 12%;
            transform: translateY(-50%);
            color: $white-color;
            font-family: $first-font;
            font-weight: map-get($font-weight, bold);
            background-color: $bg-gray-color-two;
          }

          & > p {
            color: $bg-gray-color;
            padding-top: 5px;
            font-size: 16px;
            font-family: $second-font;
          }
        }

        & > .pricing__card--items-desc {
          height: 456px;
        }

        & > .pricing__card--items-per {
          border-right: 1px solid map-get($color-counter, four);
          background-color: map-get($color-counter, three);
        }

        & .pricing__card--items-btn {
          background-color: map-get($color-counter, three);

          &:hover {
            background-color: $bg-gray-color-two;
          }
        }
      }

      &:nth-child(4) {
        & > .pricing__card--items-per {
          background-color: map-get($color-counter, four);
        }
        & > .pricing__card--items-title {
          border-left: none;
        }
        & > .pricing__card--items-desc {
          border-left: none;
        }
      }

      &-title {
        @include flexDirect;
        height: 90px;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 1px;
        color: $text-color;
        border: 1px solid $bg-gray-color-one;
      }

      &-per {
        color: $white-color;
      }

      &-price {
        font-weight: map-get($font-weight, ultraLight);
        font-size: 65px;
        padding-top: 25px;
      }

      &-subtitle {
        padding-bottom: 25px;
      }

      &-desc {
        color: $text-color;
        border: 1px solid $bg-gray-color-one;
      }

      &-text {
        padding: 13px 0;

        &.line-through {
          opacity: 0.5;
          text-decoration: line-through;
        }

        &:not(:nth-child(6)) {
          border-bottom: 1px solid $bg-gray-color-one;
        }

        &:first-child {
          margin-top: 30px;
        }
      }

      &-btn {
        letter-spacing: 1px;
        margin: 30px 0 50px;
        padding: 12px 27px;
        border-radius: 40px;
        color: $white-color;
        background-color: $bg-gray-color-two;
        font-weight: map-get($font-weight, bold);

        &:hover {
          background-color: map-get($color-counter, three);
        }
      }
    }
  }
}