
/* ===== SERVICE SECTION ===== */
.service {
  @include flexDirect;
  padding: 120px 0px;
  background-color: $white-color;

  &__title {
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    padding-bottom: 70px;
    color: $nav-text-color;

    & > span {
      font-weight: map-get($font-weight, light);
    }
  }

  &__subtitle {
    padding-bottom: 105px;
    text-align: center;
    line-height: 25px;
  }

  &__subtitle, &__wrapper--btn {
    color: $text-color;
  }

  &__wrapper--btn {
    font-size: 14px;
    padding: 7px 21px;
    border-radius: 30px;
    margin-bottom: 85px;
    background-color: $bg-gray-color-one;

    &:not(:last-child) {
      margin-right: 13px;
    }

    &:hover {
      color: $white-color;
      background-color: $bg-gray-color;
    }
  }

  button {
    letter-spacing: 1px;
    font-weight: map-get($font-weight, regular);
  }

  &__main {
    width: 100%;
    padding-top: 75%;
    position: relative;
    margin-bottom: 105px;
    grid-template-columns: 50% 50%;
    background-color: $bg-gray-color-one;

    &--items {
      width: 50%;
      height: 100%;
      position: absolute;
      grid-template-rows: calc((100% / 3) * 2) calc(100% / 3);

      &:first-child {
        left: 0;
        & > .service__main--block:last-child {
          grid-template-columns: 50% 50%;

          & > .service__main--small:first-child {
            background-color: #ebf0f2;
          }

          & > .service__main--small:last-child {
            background-color: $bg-gray-color;
          }
        }
      }

      &:last-child {
        right: 0;
        & > .service__main--block:first-child {
          grid-template-columns: 50% 50%;

          & > .service__main--small:nth-child(1) {
            background-color: #b6bfc4;
          }
          & > .service__main--small:nth-child(2) {
            background-color: $bg-gray-color-one;
          }
          & > .service__main--small:nth-child(3) {
            background-color: #ced9de;
          }
          & > .service__main--small:nth-child(4) {
            background-color: $bg-gray-color;
          }
        }

        & > .service__main--block:last-child {
          background-color: #b6bfc4;
        }
      }
    }
  }

  &__more {
    width: 100%;

    &--line {
      flex: 1;
      height: 7px;
      border: 1px solid;
      border-color: $primary-color transparent;
    }

    &--btn {
      font-size: 16px;
      margin:  0 20px;
      padding: 14px 35px;
      border-radius: 30px;
      color: $primary-color;
      background-color: $white-color;
      border: 1px solid $primary-color;

      &:hover {
        color: $white-color;
        background-color: $primary-color;
      }
    }
  }
}