/* ===== RESPONSIVE ===== */

/* ===== MOBILE  width < 740px ===== */
@media (max-width: 739px) {
  .header, .nav-menu, .nav-icons {
    display: none;
  }
  .nav-logo__title, .icon-bars, .banner-title h2:first-child,
  .choose-title, .service-title, .core__title, .pricing-title  {
    font-size: 35px;
  }
  .banner-title__line, .service-wrapper {
    text-align: center;
  }
  .nav-icon__menu {
    display: block;
  }
  .nav-container {
    padding: 0px 20px;
  }
  .banner {
    justify-content: space-evenly;
  }
  .banner-title {
    width: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner-title h2:nth-child(2) {
    display: none;
  }
  .banner-title__btn {
    padding: 15px;
  }
  .banner__arrow-icon {
    padding: 0;
    font-size: 24px;
  }
  .info {
    justify-content: space-evenly;
  }
  .info-items, .info-items__text {
    width: 80%;
  }
  .counter-container, .choose-wrap, .buy-container {
    justify-content: center;
  }
  .counter-items {
    flex: 50%;
  }
  .block-items > h3 {
    font-size: 45px;
  }
  .block-items > h4 {
    font-size: 30px;
  }
  .block-items p {
    font-size: 19px;
  }
  .block-card {
    flex: 1 1 100%;
  }
  .choose-info__block-section, .core__subtitle {
    width: 80%;
  }
  .choose-info__block:not(:nth-child(3)) {
    border-bottom: 1px solid #d6dde0;
  }
  .service-subtitle {
    width: 80%;
    padding-bottom: 60px;
  }
  .service-wrapper__btn {
    margin-bottom: 45px;
  }
  .service-main {
    display: none;
  }
  .service-more__btn {
    padding: 10px 30px;
  }
  .core-container {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .category-container {
    flex-wrap: wrap;
    overflow: hidden;
  }
  .category__card {
    flex: 100%;
  }
  .category__card:first-child .category__text, .category__card:last-child .category__text,
  .footer-main__container, .choose-info__block, .service-more {
    width: 90%;
  }
  .category__card:first-child .category__items:first-child::after {
    display: none;
  }
  .category__card:first-child .category__items:first-child,
  .category__card:last-child .category__items:last-child {
    border: none;
  }
  .author {
    padding: 50px 0;
  }
  .author-text {
    width: unset;
    font-size: 19px;
  }
  .pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing-text {
    width: 85%;
  }
  .pricing-card__items {
    flex: 50%;
  }
  .buy-container {
    text-align: center;
  }
  .buy-text {
    padding-bottom: 20px;
  }
  .buy-title {
    font-size: 70px;
  }
  .career-container {
    margin: 100px auto;
  }
  .career-our__team {
    width: 90%;
    margin: 0 auto 100px;
  }
  .career-vacancy {
    width: 90%;
    margin: 0 auto;
  }
  .career-content__thumnail {
    margin: 0 auto 15px;
  }
  .career-content__wrap {
    width: unset;
  }
  .career-content__list ul:last-child {
    width: 100%;
    padding: 30px 0 0 15px;
  }
  .contact-items {
    flex: 50%;
    padding-bottom: 110px;
  }
  .footer-items:not(:last-child) {
    padding-bottom: 50px;
  }
  .footer-wrap__logo p {
    width: unset;
  }
  .footer-links, .footer-news, .footer-status {
    width: 100%;
  }
  .footer-links ul {
    font-size: 16px;
  }
  .footer-links ul li:not(:last-child) {
    border-bottom: 1px solid #393d50;
  }
  .footer-copyright__container {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    line-height: 35px;
  }
  .footer-copyright__container ul {
    justify-content: center;
    align-items: center;
  }
}

/* ===== Small Mobile ===== */
@media (max-width: 413px) {
  .pricing-card__items {
    flex: 100%;
  }
  .buy-btn {
    padding: 10px;
  }
  .career-card__items {
    align-items: center;
    justify-content: center;
  }
  .career-card__member {
    text-align: center;
  }
  .career-container h3 {
    text-align: center;
  }
  .career-tabs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* ===== Tablet width >= 740px and < 1024px ===== */
@media (min-width: 740px) and (max-width: 1023px) {
  .header__btn, .header__address, .nav-icons, .nav-menu, .service-main {
    display: none;
  }
  .header-container {
    padding: 5px 0;
    justify-content: center;
  }
  .header-social-icons {
    border: none;
  }
  .header-address-phone, .header-menu {
    padding: 0;
  }
  .header__icons {
    font-size: 13px;
  }
  .nav-logo__title, .icon-bars {
    font-size: 35px;
  }
  .nav-icon__menu {
    display: block;
  }
  .nav-container {
    padding: 0px 20px;
  }
  .banner-title h2 {
    font-size: 50px;
  }
  .banner-title__btn {
    padding: 15px 25px;
  }
  .info-items {
    width: 215px;
  }
  .counter-items__circle {
    width: 150px;
    height: 150px;
  }
  .counter-items__circle-inner {
    width: 125px;
    height: 125px;
  }
  .choose-wrap, .service, .core-container, .info, .career-vacancy,
  .contact-container, .footer-main__container {
    width: 90%;
    margin: auto;
  }
  .choose-info__block-section {
    width: 270px;
  }
  .choose-info__block:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .choose-info__block:nth-child(3) .choose-info__block-items {
    border-top: 1px solid #d6dde0;
  }
  .choose-info__block:nth-child(3) .choose-info__block-items:first-child {
    border-bottom: none;
  }
  .block-items {
    padding: 55px 0 55px 20px;
  }
  .category__card:first-child .category__items:first-child::after {
    display: none;
  }
  .category__card:first-child .category__items:first-child,
  .category__card:last-child .category__items:last-child {
    border: none;
  }
  .author {
    padding: 100px 0;
  }
  .author-text {
    width: unset;
  }
  .pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing p {
    width: 90%;
  }
  .pricing-main {
    width: 100%;
  }
  .pricing-card__items {
    flex: 50%;
  }
  .buy-container {
    flex-direction: column;
    text-align: center;
  }
  .buy-title {
    font-size: 80px;
  }
  .buy-text {
    padding-bottom: 35px;
  }
  .career-container {
    margin: 100px auto;
  }
  .career-our__team {
    width: 90%;
    margin: 0 auto 100px;
  }
  .career-content__thumnail {
    margin: 0 auto 15px;
  }
  .career-content__wrap {
    width: unset;
  }
  .footer-items {
    width: 50%;
  }
  .footer-wrap__logo, .footer-news {
    margin: 0;
  }
  .footer-wrap__logo, .footer-news {
    padding-right: 30px;
  }
  .footer-wrap__logo p {
    width: unset;
  }
  .footer-links {
    margin-bottom: 40px;
  }
  .footer-links ul {
    font-size: 16px;
  }
  .footer-links ul li:not(:last-child) {
    border-bottom: 1px solid #393d50;
  }
  .footer-copyright__container {
    flex-direction: column-reverse;
    line-height: 35px;
  }
  .footer-copyright__container, .footer-copyright__container ul {
    align-items: center;
    justify-content: center;
  }
  .footer-copyright__container {
    padding: 10px 0;
  }
}

/* ===== PC small width >= 1024px and < 1200px ===== */
@media (min-width: 1024px) and (max-width: 1199px) {
  .header__btn, .header__address, .nav-icons {
    display: none;
  }
  .header-container {
    padding: 5px 0;
    justify-content: center;
  }
  .header-social-icons {
    border: none;
  }
  .header-address-phone, .header-menu {
    padding: 0;
  }
  .header__icons {
    font-size: 13px;
  }
  .nav-container, .choose-wrap, .info, .service, .core-container,
  .footer-copyright__container, .career-vacancy, .footer-main__container {
    width: 90%;
    margin: auto;
  }
  .buy-container {
    text-align: center;
    flex-direction: column;
  }
  .buy-title {
    font-size: 80px;
  }
  .buy-text {
    padding-bottom: 35px;
  }
  .pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing p {
    width: 90%;
  }
  .pricing-main {
    width: 100%;
  }
  .choose-info__block:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .choose-info__block:nth-child(3) .choose-info__block-items {
    border-top: 1px solid #d6dde0;
  }
  .choose-info__block:nth-child(3) .choose-info__block-items:first-child {
    border-bottom: none;
  }
  .career-our__team {
    width: 30%;
  }
  .author-icon {
    margin: 0 20px;
    padding: 100px 0 0;
  }
  .author-text {
    width: unset;
  }
  .category__card:first-child .category__items:first-child::after {
    display: none;
  }
  .category__card:first-child .category__items:first-child,
  .category__card:last-child .category__items:last-child {
    border: none;
  }
  .career-container {
    margin: 100px auto;
  }
  .career-our__team {
    width: 90%;
    margin: 0 auto 100px;
  }
  .career-content__thumnail {
    margin: 0 auto 15px;
  }
  .career-content__wrap {
    width: unset;
  }
  .footer-wrap__logo {
    margin-bottom: 50px;
  }
}