/* ===== FONT ===== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


:root {
  --primary-color: #00bcd4;
  --text-color: #5f727f;
  --white-color: #fff;
  --nav-text-color: #3c3950;

  --first-font: 'Montserrat', sans-serif;
  --second-font: 'Source Sans Pro', sans-serif;

  --header-border-line: #ced3d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== HEADER ===== */
.header {
  font-family: var(--second-font);
  margin-top: 5px;
  position: relative;
  background-color: #f4f6f7;
  border-bottom: 1px solid var(--header-border-line);
}
.header::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
}
.header-container {
  max-width: 1171px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-address-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 0;
}
.header__address {
  display: inline-block;
}
.header__address .header__text:first-child {
  padding-right: 60px;
}
.header__text {
  font-size: 13px;
  color: var(--text-color);
}
.header__icons-headphone {
  padding-right: 8px;
}
.header-social-icons {
  padding: 10px 50px;
  border-right: 1px solid var(--header-border-line);
  display: flex;
  align-items: center;
  border-left: 1px solid;
  border-left: 1px solid var(--header-border-line);
}
.header-social-icons .header__link:last-child {
  color: var(--text-color);
}
.header__icons {
  font-size: 16px;
  padding-right: 4px;
}
.header__icon-special {
  color: #f44336;
}
.header__link:not(:last-child) {
  text-decoration: none;
  color: var(--text-color);
  padding-right: 14px;
}
.header-menu {
  display: flex;
  align-items: center;
  padding: 10px 50px;
}
.header-menu__link {
  text-decoration: none;
  color: var(--text-color);
  padding-right: 25px;
}
.header-menu__link:last-child {
  padding-right: 0;
}
.header-box-btn {
  padding: 10px 0;
}
.header__btn {
  background-color: #494c64;
  border: none;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  cursor: pointer;
  border-radius: 3px;
}


/* ===== NAV ===== */
.nav {
  padding: 32px 0;
  border-bottom: 1px solid var(--header-border-line);
}
.nav-container {
  margin: 0 auto;
  max-width: 1171px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: var(--first-font);
  font-weight: bold;
  color: var(--nav-text-color)
}
.nav-menu {
  background-color: var(--white-color);
}
.nav__list {
  list-style-type: none;
  display: flex;
  font-size: 14px;
}
.nav__list-item {
  cursor: pointer;
}
.nav__list-item:not(:last-child) {
  margin-right: 50px;
}
.nav-icons {
  display: flex;
  align-items: center;
  width: 240px;
}
.nav__icon-img:first-child {
  padding-right: 23px;
}
.nav__icon-img-last {
  padding-right: 15px;
}
.nav__icon-link {
  padding-right: 23px;
  text-decoration: none;
}
.nav__box-blue {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 13px;
  height: 18px;
  position: relative;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.nav__box-blue::before {
  content: "";
  position: absolute;
  top: 0;
  left: -18px;
  border: 9px solid var(--primary-color);
  border-color: transparent var(--primary-color) transparent transparent;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo__icon {
  padding-right: 5px;
}
.nav-logo__title {
  font-weight: lighter;
}
.nav-logo__title-bold {
  font-weight: bold;
}

/* ===== BANNER ===== */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e8eb;
  padding: 170px 0 100px;
  font-family: var(--first-font);
}
.banner__arrow-icon {
  padding: 0 25px;
  font-size: 25px;
  color: #212331;
}
.banner-title {
  width: 1171px;
  margin: 0 auto;
  color: var(--nav-text-color);
  font-size: 30px;
}
.banner-title h2 {
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 78px;
}
.banner-title h2 span {
  font-weight: bold;
}
.banner-title__line {
  padding-top: 25px;
  padding-bottom: 60px;
  font-weight: 300;
}
.banner-title__btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 32px;
}
.banner__diamond-icon {
  padding-right: 15px;
  font-size: 17px;
}
.banner-title__btn p {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 2px;
}
